## Assignment 2: Data Analysis and Interpretation


## Contents
### 1. Data Description 
### 2. Variables Description 
### 3. Source

In [6]:
import numpy as np
import pandas as pd
import scipy
import scipy.stats 
from scipy.stats import norm,t
import statsmodels.api as sm 
from statsmodels.stats.proportion import proportion_confint 
import matplotlib.pyplot as plt 
from pandas.api.types import CategoricalDtype

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('covid_data.csv',encoding='latin-1')

In [5]:
df.head()

,date,iso3c,country,income,region,continent,dcases,ddeaths,population,weekdays,month
0,2020-02-24,AFG,Afghanistan,Low income,South Asia,Asia,5,0,38041754,Mon,Feb
1,2020-02-25,AFG,Afghanistan,Low income,South Asia,Asia,0,0,38041754,Tue,Feb
2,2020-02-26,AFG,Afghanistan,Low income,South Asia,Asia,0,0,38041754,Wed,Feb
3,2020-02-27,AFG,Afghanistan,Low income,South Asia,Asia,0,0,38041754,Thu,Feb
4,2020-02-28,AFG,Afghanistan,Low income,South Asia,Asia,0,0,38041754,Fri,Feb

In [7]:
from pandas.api.types import CategoricalDtype
cats=['Fri','Sat', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu']
cat_type= CategoricalDtype(categories=cats, ordered=True)
df['weekdays']= df['weekdays'].astype(cat_type)

In [8]:
dfegy=df[df['country']=='Egypt']

In [11]:
import numpy as np

In [12]:
stats=dfegy.groupby('weekdays').agg({'dcases':[np.mean,np.std,np.size]})

In [13]:
stats

              dcases
                mean         std size
weekdays
Fri       567.161616  428.533849   99
Sat       558.806122  421.803605   98
Sun       545.520408  422.358748   98
Mon       561.846939  442.137949   98
Tue       566.153061  419.125460   98
Wed       561.479592  406.337812   98
Thu       567.683673  410.020004   98